//rule
if import != false
  @import 'rule'

//stage
#guide-space
  width 100%
  height 32px

#guide
  width 100%
  height 32px
  background-color #333
  color #fff
  line-height @height

#guide-left
  float left

#guide-right
  float right

#logo-guide
  font-size 14px
  font-weight bold