//rule
if import != false
  @import 'rule'

//baidu tongji
#block-baidu-tongji
  @extend .inline-block
  position relative
  top 2px
  margin 0 0 0 4px
  padding 0
  width 12px
  height 12px

  a
    display block
    margin 0
    padding 0
    width 100%
    height 100%
    border-radius 2px
    background url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAMAAABhq6zVAAAAUVBMVEUYGBgYSqMYIjIZefAZYtMYHCIZUbIZkP8YHyoZifwZcecYO3sZg/gYGRwYOG8YQ5AZcOcYOnUYJz4ZX80ZffQYNGMZfvUYRpcYLlIZWsUZT62STYTaAAAAXUlEQVQI11WMRxKAMAwDnSo7oXf4/0OJEy7sSTsaiRQz0nBRI4izzn9igQeocU/nbbiLVsVDiJiyxCIZMRzCIzatmB3QDXGuZyUXq5t+QkWCSkKDtVrW1RifMv15AfKwAxWtslVrAAAAAElFTkSuQmCC") left top no-repeat

  img
    display none