//-header
link(rel="stylesheet", href="#{path}/style/header-title.css?date=20140923")
#header
    #header-inner.inner
        a#logo-home-member(href="/", title="认真你就输了")
        #block-title-banner.no-select
            p #{title}
            div
                a(href="/") AcFun
                span.d #{subtitle}
            span.clearfix
    #btn-top-shortcut.hidden
        a.item.feedback(href="/feedback/", target="_blank")
            i.icon.icon-paper-plane
            p.hint 意见反馈
        .item.top
            i.icon.icon-chevron-up
            p.hint 返回顶部