meta(content="IE=edge", http-equiv="X-UA-Compatible")
meta(name="renderer", content="webkit")
meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
meta(name="copyright", content="Copyright (c) AcFun")
- if(type == 'view')
    meta(name="keywords", content="${(content.tagStr!'')?xhtml}")
    meta(name="description", content="${content.description!'该投稿暂无简介。'?xhtml}")
- else
    meta(name="keywords", content="A站 ACFUN ACG 弹幕 视频 动画 漫画 游戏 斗鱼 新番 鬼畜 东方 初音 DOTA MUGEN LOL Vocaloid MAD AMV 天下漫友是一家")
    meta(name="description", content="AcFun是一家弹幕视频网站，致力于为每一个人带来欢乐。")