//-debug
- var debug = 1;
//-param
- var base = 'http://www.acfun.tv';
- var cdn = 'http://static.acfun.mm111.net';
- var ssl = 'https://ssl.acfun.tv';
- var api = 'http://api.acfun.tv';
//-douyu
- var douyu = 'http://www.douyu.tv';
//-check debug
- var path = debug ? '/dotnet/date' : cdn + '/dotnet/20130418';