name: 'midware'
version: '0.0.1'
description: 'Project of AcFun Midware works.'
main: 'app.js'
private: true
dependencies:
    express: '4.*'
    'body-parser': '*'
    jade: '*'
    colors: '*'
    'memory-cache': '*'
    redis: '*'
devDependencies:
    mocha: '*'
    should: '*'
author: 'Mimiko'
license: 'GPL'