//a
@import 'class/a'

//dom
@import 'class/dom'

//win
@import 'class/win'

//menu
@import 'class/menu'

//icon
@import 'class/icon'

//pager
@import 'class/pager'

//alert
@import 'class/alert'

//ribbon
@import 'class/ribbon'

//btn
@import 'class/btn'

//switch
@import 'class/switch'

//block
@import 'class/block'

//banner
@import 'class/banner'

//tabb
@import 'class/tabb'

//ad
@import 'class/ad'

//thumb
@import 'class/thumb'

//text
@import 'class/text'

//captcha
@import 'class/captcha'

//common
@import 'class/other'