//rule
if import != false
  @import 'rule'

//params
c1 = #95be3e
c2 = #ff9101
c3 = #e84c3d
c4 = #e04270
c5 = #1fa4c7
c6 = #58bbb8

//stage
#guide-space
  height 120px

#guide
  @extend .abs
  width 100%
  height 120px
  left 0
  top 0
  background #fff url(../project/homura/style/image/guide.png) center top no-repeat
  z-index 2

  &.float
    position fixed

#guide-inner
  width 980px
  position relative

  .a
    height 80px

  .b
    height 38px

    .l
      width 710px
      a
        float left
        padding 0 16px
        position relative
        display block
        height 38px
        line-height @height
        color #333
        font-size 14px

        &.first
          padding-left 0

        &:hover
          color c1

        &.active
          color c1

          .tail
            display block

        .tail
          @extend .abs
          width 16px
          height 9px
          left 22px
          bottom -2px
          background salt('../project/homura/style/image/sprite-guide.png') 0 -113px no-repeat
          display none
      for v, i in c1 c2 c3 c4 c5 c6
        .c{i + 1}
          &:hover, &.active
            color v
            .tail
              background-position (-16px * i) -113px
          &.current
            color v
    .r
      a
        float left
      #a-app-guide, #a-emot-guide
        color #777
        margin 10px 8px 0 0
        font-size 12px
        height 16px
        line-height @height
        &:hover
          color #555
        .icon
          font-size 14px
      #a-emot-guide
        padding-right 12px
        border-right 1px solid #ddd

  .win
    .c
      height 32px
      line-height @height
      text-align center
      margin 4px 0 -9px

      a
        @extend .inline-block
        height 32px
        line-height @height
        padding 0 8px
        border-bottom 3px solid c2
        color c2
        font-size 12px
        &:hover
          border-color lighten(c2, 25%)
          color lighten(c2, 25%)

    .tail
      @extend .abs
      width 16px
      height 9px
      top -10px
      right 22px
      background salt('../project/homura/style/image/sprite-guide.png') -96px -113px no-repeat
//logo
#a-logo-guide
  @extend .abs
  width 180px
  height 64px
  left 0
  top 16px
  background salt('../project/homura/style/image/sprite-guide.png') left top no-repeat
//search
#area-search-guide
  @extend .abs
  left 300px
  top 24px
  width 380px

  .ipt-search
    float left
    width 280px
    height 35px
    border: none
    border-radius 1px 0 0 1px
    margin 0
    padding 0 10px
  .btn-search
    float left
    transition none
    width 80px
    height 35px
    margin 0
    border none
    border-radius 0 1px 1px 0
    background c2 salt('../project/homura/style/image/sprite-guide.png') -112px -64px no-repeat
    color #fff
    cursor pointer
    text-indent -999px
    overflow hidden

    &:active
      background-position -112px -99px
//area-user
#area-user-guide
  @extend .abs
  top 16px
  right 0
  width 244px

  a
    float left
    display block

  .tool
    width 48px
    height @width
    text-align center
    margin 2px 0 0 8px

    .icon
      display block
      margin 4px auto 0
      font-size 20px
      color #fff
      text-shadow 0 1px 2px rgba(#000, 0.2)

    p
      display block
      color #fff
      font-size 12px
      margin 2px auto 0
      text-shadow 0 1px 2px rgba(#000, 0.2)
  #a-login-guide
    width 68px

#a-avatar-guide
  margin 0 8px 0 16px

  .avatar
    width w = 50px
    height @width
    .borderradius &
      border-radius w * 0.5
      border none
      box-shadow none
      background none

  .info-hint
    @extend .abs
    @extend .inline-block
    background-color red
    color #fff
    font-size 12px
    line-height 16px
    top -6px
    right -8px
    padding 0 4px
    border-radius 2px

//subguide
#sub-guide
  trans(0s)
  width 100%
  height 2px
  background #fff url(../project/homura/style/image/border.png) center top repeat-x
  padding-top 2px
  line-height 35px
  font-size 13px
  overflow hidden

  #sub-guide-inner
    \*display none

  &.active
    height 37px
    box-shadow 0 1px 2px rgba(#000, 0.2)

    #sub-guide-inner
      \*display block

#sub-guide-inner
  width 980px
  position relative

  .unit
    @extend .abs
    height 35px

    a
      float left
      display block
      color #333
      padding 0 4px
      margin 0 12px 0 0
      height 100%

      &:hover
        border-bottom 3px solid c2

    .divider-x
      @extend .no-select
      float left
      color #ccc

    .a-recom-guide
      margin 0 0 0 12px
      color c1
  for v, i in c1 c2 c3 c4 c5 c6
    .c{i + 1}
      .a-recom-guide
        color v
#win-info-guide
  @extend .abs
  top 80px
  right 0
  width 240px
  height auto
  overflow visible

  .mainer
    overflow visible

    .a
      font-size 12px
      height auto
      line-height 16px

      a
        color #999

      .name
        color #333

    .b
      height auto
      border-top 1px dashed #ddd
      margin 8px 0 0
      padding 8px 0 0

      .unit
        display block
        line-height 16px
        color #999
        margin 0 0 8px
        font-size 12px

#win-history-guide
  @extend .abs
  top 80px
  right 0
  width 240px
  height auto
  overflow visible

  .mainer
    overflow visible

    .b
      height auto

      .unit
        display block
        color #999
        padding 0 0 0 8px
        margin 16px 0
        font-size 12px
        line-height 16px
        border-left 1px solid #ccc

        &:hover
          border-color c2

        .title
          @extend .inline-block
          color #333
          font-size 12px
          height 16px
          line-height @height
          overflow hidden

        .desc
          font-size 12px
    .tail
      left 20px
      right auto

#win-post-guide
  @extend .abs
  top 80px
  right 85px
  width 100px
  height auto
  overflow visible
  .mainer
    overflow visible

    .b
      height auto
      a
        display block
        font-size 13px
        color #333
        line-height 1.2
        margin 10px 4px 20px 4px
        padding 0px 8px 0px 10px
        border-left 2px solid #ccc
        &:hover
          border-color c2
        &:last-child
          margin-bottom 10px
    .tail
      left 20px
      right auto

//simple
#guide-space.simple
  height 48px
#guide.simple
  height 46px
  background #fff

  #guide-inner
    height 46px
    line-height @height
    
    .a
      height 0

      #a-logo-guide
        display none

    .b
      height 46px

      .l
        width 600px
        \*width 612px
        a
          display block
          font-size 14px
          color #666
          padding 0 8px
          float left
          position relative
          height 46px
          line-height @height

          &:hover
            color #333

          &.first
            width 96px
            height 24px
            display block
            background salt('../project/homura/style/image/sprite-guide.png') 0 -64px no-repeat
            margin 12px 16px 0 0
            text-indent -999px
            overflow hidden

          &:hover
            color c1

          &.active
            color c1

            .tail
              left 14px
              display block

          .tail
            @extend .abs
            width 16px
            height 9px
            left 22px
            bottom -2px
            background salt('../project/homura/style/image/sprite-guide.png') 0 -113px no-repeat
            display none

        for v, i in c1 c2 c3 c4 c5 c6
          .c{i + 1}
            &:hover, &.active
              color v
              .tail
                background-position (-16px * i) -113px
            &.current
              color v
        for v, i in c1 c2 c3 c4 c5 c6
          .sc{i + 1}
            &:hover, &.active
              color v
              .tail
                background-position (-16px * i) -113px
            &.current
              color v

      .r
        display none

    .win
      .a, .b
        height auto
      .tail
        @extend .abs
        width 16px
        height 9px
        left 24px
        right auto
        top -10px
        background salt('../project/homura/style/image/sprite-guide.png') 0 -113px no-repeat

    #win-info-guide
      right 16px
      .l
        width auto
      .tail
        background-position (-16px * 1) -113px
    #a-name-guide
      color #333
      font-size 12px
      padding 0

    #win-history-guide
      right 121px
      .tail
        background-position (-16px * 5) -113px

    #win-post-guide
      right 229px

  #area-search-guide
    display block
    position absolute
    left auto
    top 0
    right 0
    height auto
    width auto
    margin 10px 0 0 0
    padding 0

    .ipt-search
      height 24px
      width 160px
      \*width 144px
      box-shadow none
      border 1px solid #eee
      color #999

      &:hover, &:active
        color #333

    .btn-search
      @extend .abs
      top 0
      right 0
      z-index 1
      padding 0
      width 26px
      height @width
      border none
      background salt('../project/homura/style/image/sprite-guide.png') -180px 0 no-repeat
      font-size 12px
      line-height @height
      cursor pointer

      &:hover, &:active
        background-position -180px -26px
  #area-user-guide
    display block
    position absolute
    left auto
    top 0
    right 206px
    height auto
    width auto

    .tool
      height 46px
      width 24px
      margin 0 4px
      padding 12px 0 0

      .icon
        font-size 14px
        color #bbb
        text-shadow none
        margin 4px 0 0
        &:hover
          color #999
      p
        display none
    #a-login-guide
      width 54px
      margin-right -10px
      padding-right 0

      .icon
        display none
      p
        display block
        color #666
        height 18px
        line-height @height
        text-shadow none

        &:hover
          color #333

  #a-avatar-guide
    margin 6px 0 0 8px
    .avatar
      height 35px
      width @height
    .info-hint
      top -4px

  #sub-guide-inner
    for v, i in c1 c2 c3 c4 c5 c6
      .c{i + 1}
        .a-recom-guide
          color v