//-guide
#guide
    #guide-inner
        //-left
        #guide-left
            #logo-guide
                i.icon.icon-cloud
                | Aria
        //right
        #guide-right
        span.clearfix