//-guide
#guide
    #guide-inner
        //-left
        #guide-left
            #logo-guide
                i.icon.icon-cloud
                | Aria
        //right
        #guide-right
            #btn-mail-guide.item
                i.icon.icon-envelope
                | Mails
            a#btn-user-guide.item(href="/me/")
                i.icon.icon-user
                | Me
            span.clearfix
        span.clearfix