//-header
#header
    #header-inner.inner

//-nav
#nav
    #nav-inner
        a(href="/")
            i.icon.icon-comment
            | Forum
        a(href="/blog/")
            i.icon.icon-book
            | Blog