//-header
#header
    #header-inner.inner

//-nav
#nav
    #nav-inner
        a.active(href="/")
            i.icon.icon-comment
            | Forum
        a(href="/")
            i.icon.icon-book
            | Blog
        a(href="/log/")
            i.icon.icon-info-circle
            | Log