//import
import = false

//reset
@import 'require/reset'

//rule
@import 'require/rule'

//class
@import 'require/class'

//stage
@import 'require/stage'

//guide
@import 'require/guide'
@import 'require/notice'
@import 'require/shortcut'

//info
@import 'require/info'

//footer
@import 'require/footer'

//win
@import 'require/win'

//ad
@import 'require/ad'

//fix
@import 'require/fix'