//-path
include ../sanae/path
doctype html
html
    head
        //-meta
        include ../sanae/meta
        //title
        title Blog - Aria
        //-style
        include ../sanae/style
        link(rel="stylesheet", href="/client/blog/style/index.css")
    body
        //-stage
        #stage
            //-info
            include ../sanae/info
            //-guide
            include ../sanae/guide
            //-header
            include ../sanae/header
            //-mainer
            #mainer
                #mainer-inner
                    p.alert Blog!
            //-footer
            include ../sanae/footer
        //-script
        include ../sanae/script
        script(src="/client/blog/script/index.js")